:root {
	--form-color: grey;
	--form-text-color: rgb(0, 0, 0);
	--bg-color: #f1f1f1;
	--form-bg-color: #f1f1f1;
}  

body {
	background-color: var(--bg-color);
}

form {
	margin: 50px 0px 0px 50px;
	border-radius: 5px;
	padding: 20px;
	max-width: 500px; 
	background-color: var(--form-bg-color);
	border: 1px solid #b7acac;
}
.nav-link{
	border-radius: 5px;
	color : #000;
	background-color :var(--bg-color);
	
}
.navbar-brand{
	color: var(--form-text-color);
}

.headline {
	font-size: 20px;
	margin: 0px 0px 20px 0px;
}

.btn-position{
	margin: 0px 0px 0px 20px;
}

.card {
	margin: 20px 0px 0px 50px;
	max-width: 500px;
	background-color: var(--form-bg-color);
	border: 1px solid #b7acac
}

.text-through {
	text-decoration: line-through;
}

.navbar {
	background-color: var(--form-color);
}

.navbar-collapse {
	flex-grow: 0;

}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
	padding-left: 55px;
	margin-right: 100px;

}

.dropdown-menu {
	--bs-dropdown-min-width: 7.5rem;
}

.header-style {
	height: 90px;
	border-bottom: 1px solid #d6d7d7;
}